<section class="flex flex-col justify-center">
  <h1 class="flex flex-row text-5xl p-10 justify-center">Bass Clef, comprometidos con el sonido</h1>
  <div class="flex flex-row justify-center p-20">
    <img src="../assets/bassist.avif" alt="Hombre tocando el bajo eléctrico" class="w-1/2 rounded-ss-md">
  </div>
  <div class="flex flex-col p-20 text-xl gap-4">

    <p>Bass Clef nace como una propuesta radicalmente distinta al resto de tiendas de instrumentos musicales que existen
      en la Ciudad de México. Fundada en 2015 por un grupo de apasionados bajistas, nuestra tienda se encuentra en el
      corazón de la vibrante Colonia Roma, en la calle Álvaro Obregón 92. Bass Clef se especializa en todo lo
      relacionado con el bajo, ofreciendo una selección única y cuidadosa de instrumentos y accesorios exclusivamente
      para bajistas.</p>

    <p>Nuestra oferta incluye una amplia variedad de bajos eléctricos, contrabajos y contrabajos eléctricos, así como
      una extensa gama de pedales y pedaleras. En Bass Clef encontrarás todo lo necesario para perfeccionar tu sonido y
      estilo. Además, brindamos servicios de mantenimiento y reparación para asegurar que tu instrumento esté siempre en
      óptimas condiciones. Nuestro equipo de expertos está siempre dispuesto a ayudarte a encontrar el equipo perfecto y
      a ofrecerte el mejor asesoramiento posible.</p>

    <p>Nos enorgullecemos de nuestra amplia gama de sistemas de in-ear para bajistas, ideales para una experiencia
      auditiva superior en presentaciones en vivo y ensayos. En Bass Clef, creemos en la importancia de una comunidad
      fuerte y, por eso, organizamos regularmente talleres y clínicas con músicos profesionales para inspirar y educar a
      nuestra clientela.</p>

    <p>Nuestro compromiso es ofrecer productos de alta calidad y un servicio al cliente excepcional, todo en un ambiente
      acogedor y profesional. Ven a visitarnos y descubre por qué Bass Clef es la tienda preferida por los bajistas de
      la Ciudad de México. Estamos aquí para ayudarte a encontrar tu sonido único y a llevar tu música a nuevas alturas.
    </p>
  </div>
</section>
