<article
  class="flex flex-col lg:flex-row items-start lg:items-center space-y-4 lg:space-y-0 lg:space-x-4 bg-black p-8"
>
  <div class="flex-1 text-white">
    <h1 class="text-3xl font-bold mb-2">
      Descubre los mejores bajos eléctricos en Bass Clef
    </h1>
    <h2 class="text-xl mb-4">
      Explore nuestra amplia selección de bajos eléctricos de alta calidad
      perfectos para cualquier músico.
    </h2>
    <div>
      <button
        class="bg-black text-white border border-white px-4 py-2 mr-2"
        (click)="goToShop()"
      >
        Comprar bajos
      </button>
      <button
        class="bg-white text-black border border-black px-4 py-2"
        (click)="goToAbout()"
      >
        Aprenda más
      </button>
    </div>
  </div>
  <div class="shrink-0">
    <img
      src="../assets/images/bassist.avif"
      alt="foto"
      class="w-full lg:w-[600px] h-auto object-cover"
    />
  </div>
</article>
