@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  color-scheme: ligth dark;
}

@font-face {
  font-family: 'Onest';
  src: url('assets/fonts/Onest-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Onest'
}
